.banderole-2 {
    width: 86%;
}

.collapse {
    width: 71%;
    display: flex;
    flex-direction: column;
    gap : 20px;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .collapse {
        width: 85%;
    }
}