.arrow {
    width: 80px;
    height: 80px;
    position: absolute;
}

.arrow_left {
    left: 0px;
}

.arrow_right {
    right: 0px;
}

.picture {
    contain: content;
    width: 100%;
}

.carroussel {
    display: flex;
    align-items: center;
    max-height: 415px;
    contain: content;
    border-radius: 25px;
}

.compteur-image {
    color: white;
    position: absolute;
    right: 50%;
    bottom: 0;
}

@media (max-width: 768px) {
    .carroussel {
        max-height: 255px;
        border-radius: 10px;
    }

    .picture {
        min-height: 255px;
    }
}