.icon-chevron {
    width: 24px;
    height: 13.71px;
    fill: white;
    transition-property: transform;
    transition-duration: 500ms;
}

.icon-chevron-reverse {
    width: 24px;
    height: 13.71px;
    fill: white;
    transform: rotate(180deg);
    transition-property: transform;
    transition-duration: 500ms;
}

.paragraphe-collapse {
    height: auto;
    max-height: 260px;
    /* transition: all 1000ms ease-in-out; */
}

.base-paragraphe {
    transition: all 1000ms ease-in-out;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

.display-none {
    max-height: 0px;
    /* transition: all 1000ms ease-in-out; */
}

.collapse-ferme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contenue-collapse {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.en-tête-collapse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    background-color: rgba(255, 96, 96, 1);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.listecollapse {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

li {
    list-style-type: none;
}

.text-list-collapse {
    color: black;
}

@media (max-width: 768px) {
    .en-tête-collapse {
        height: 30px;
        font-size: 13px;
        line-height: 18.54px;
        margin-bottom: -5px;
    }

    .collapse {
        gap: 0;
    }

    .contenue-collapse {
        margin-bottom: -10px;
    }
}