#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: white;
    align-items: flex-start;
    flex-direction: column;
}

.banderole-1 {
    width: 86%;
    display: flex;
}


.banderole{
    width: 86%;
    height: 223px;
    border-radius: 25px;
}

.list-card {
    width: 86%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 25px;
    background-color: rgba(246, 246, 246, 1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 90px;
}

@media (max-width: 768px) {
    .list-card {
        gap: 20px;
        flex-direction: column;
        background-color: white;
        padding-bottom: 0px;
        padding-top: 0;
        width: 89%;
    }

    .container {
        margin-bottom: 25px;
    }
    .banderole-1 {
        width: 89%;  
    } 
}